.pc-meta-layout {
  .pc-content-area {
    .pc-sys-modify {
      .sys-modify {
        .pc-sys-left {
          margin: 73px 0 136px 211px;
          width: 100%;
          height: 100%;
          padding: 27px 88px;
          .bank-preview-cell {
            .cell-title {
              font-size: 24px;
              font-weight: 500;
              color: #000000;
              line-height: 36px;
            }
            .cell-content {
              font-size: 21px;
              font-weight: 500;
              color: #89939f;
              line-height: 33px;
            }
            .cell-footer {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding-bottom: 50px;
              .icon {
                width: 133px;
                height: 133px;
                img {
                  width: 100%;
                }
              }
            }
            .el-button {
              background: rgba(67, 140, 255, 0.1);
              border-radius: 10px;
              border: 1px solid #438cff;

              color: #1f1f39;
              height: 48px;
              font-size: 21px;
              font-weight: 500;
              &.is-disabled {
                background: #fff;
                border-color: #c9c9c9;
                color: #9d9ca1;
              }
              &.status_2 {
                border-color: #438cff;
                background: #fff;
                color: #438cff;
              }
            }
          }
          .bank-preview-footer {
            padding-bottom: 40px;
            .el-button {
              width: 100%;
              height: 64px;
              font-size: 21px;
              font-weight: 600;
              color: #ffffff;
              &.is-disabled {
                background: #c9c9c9;
                border-color: #c9c9c9;
              }
            }
          }
        }
        .pc-sys-right {
          margin: 192px 227px 0 137px;
          width: 561px;
          height: 623px;
          flex-shrink: 0;
          box-shadow: none;
          background: #fafbfd;
        }
        .pc-mail {
          padding: 0;
        }
      }
    }
  }
}
